{:user {:dependencies [[com.cemerick/pomegranate "0.4.0"]
                       [me.raynes/fs "1.4.6"]
                       [compliment "0.3.5"]]
        :plugins [[cider/cider-nrepl "0.18.0-SNAPSHOT"]
                  [lein-create-template "0.2.0"]]
        }
 :jvm-opts ^:replace [] }
