#directories
#*
#!.gitignore;
##!/src
#!/lib
#!/include
#!/src/clj/home/src
.CFUserTextEncoding
.DS_Store
.Rprofile
.Trash
.agignore
.android
.ansible
.ansible_async
.ansible_galaxy
.aspell.en.prepl
.aspell.en.pws
.authinfo
.babel.json
.bash_history
.boot
.bundle
.cache965423000&api=v2
.cask
.cisco
.clasp
.cmake
.conda
.config
.cookiecutter_replay
.cookiecutters
.cpan
.cpanm
.ctags
.cups
.dir-locals.el
.elfeed
.emacs.d.
.emacs.d.new
.emacs.d.orig
.erlang.cookie
.fasd
.gdbinit
.geeknote
.gem
.gnupg
.gnus
.go
.gradle
.groovy
.guile
.guilerc
.hacks
.hyperb
.idea
.javarepl.history
.jenkins
.kube
.ldapauth
.lein-repl-history
.lesshst
.lisp.d
.local
.m2
.mbsync_log
.mbsyncrc
.meghanada
.minikube
.ndenv
.node-gyp
.node_repl_history
.notmuch-config
.npm
.nrepl-port
.oracle_jre_usage
.psql_history
.puppetlabs
.python_history
.pythonrc.py
.radar_identity
.rbenv
.rdm
.rebel_readline_histordoc/
.rncache
.sage
.sbclrc
.screenrc
.selfie_installs
.signature
.slime-history.eld
.stack
.subversion
.swipl-dir-history
.swiplrc
.tern-port
.tmux.conf
.tooling
.tusk.json
.vault-token
.viminfo
.vimrc
.virtualenvs
.vscode
.wget-hsts
.zwork
AND
Applications
Applications (Parallels)
CMakeCache.txt
CMakeFiles
Desktop
Dockerfile
Documents
Downloads
Library
Maildir
Makefile
Movies
Music
Parallels
Pictures
Public
dev
iCloud Drive (Archive)
lib.old
myapp
nltk_data
node_modules
ob-go
opt
perl5
pull-requests
quicklisp
quicklisp.lisp
resources
scratch
srv
target
vaultfs
vxe-gogs
